:root {
  --color-primary: #1C1D21;
  --color-background: #1C1D210F;
  --color-white: #FFFFFF;
  --color-blue: #476D9F;
  --color-light-blue: #93B2DB;
  --color-accent-blue: #2460B0;
  --color-dark-blue: #272AEB;
  --color-soft-blue: #7CA9E6;
  --border-radius-lg: 24px;  
  --border-radius-md: 16px;
  --border-radius-sm: 8px;
}